@media(max-width: 800px){
    .media {
        flex-direction:column;
    }
    .media a {
        width:100%;
        height:100%;
    }
    .media a img{
        width:100%;
        height:100%;
    }

    .contactWrapper {
        flex-direction:column;
    }

}

.mapBox {
    padding-top: 30px;
    height:50VH;
}


.map {
    width:100%;
    height:100%;
}




.contactWrapper {
    padding:50px;
    display:flex;
    height:100%;
    width:100%;
}

.media{
    display:flex;
    height: 100%;
    width:50VW;


}
.media a {
    width:20%;
    height:100%;
}
.media a img {
    padding:5% 10%;
    margin: 5%;
    background-color: var(--gray) ;
    width:100%;
    height:100%;

}

