@media(max-width: 800px){
    .mapBox {
        display: block;
        width:100%;
        height:100%;
        left:0px;
    }
    .map {
        display:block;
        width: 100%;
        height:40%;
        left:0;
    }
    .mediaBox {
        display: flex;
        flex-direction: column;
        padding-top:5%;
        justify-content: center;
        align-items:center;
    }
    .mediaBox strong{
        text-align:center;
    }
    .media {
        align-items:center;
        max-width: none;
        justify-content: center;
    }
    .info strong{
        text-align:center;
    }
    .info{
        display: flex;
        flex-direction: column;
        flex-direction:column;
        align-items:center;
        margin-bottom: 50px;
    }
    .contactWrapper {
        flex-direction:column;
        align-items:center;
    }

    .info ul li {
        text-align: center;
    }
}

strong {
    width: 100%;
    font-weight: bold;
    line-height: 28px;
    color: var(--title);
}

strong.head {
    font-weight: normal;
    font-size: 24px;
}

.info ul li {
    padding-top: 10px;
    color: var(--text);
    list-style-type:none;
}

.info ul li b {
    color: black;
}

.contactWrapper {
    display:flex;
    height:100%;
    width:100%;
}

.info {
    height: 100%;
    width: 100%;
}

.mediaBox {
    height: 100%;
    width: 100%;
}

.media{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
    width:100%;
}
.media a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 70px;
    width: 70px;
    background-color: #EBF0F0;
}

.media a:hover {
    background: var(--dark_green);
}

.media a img {
    padding: 10px;
    width: 40px;
    height: 40px;
}

.map {
    display: block;
    width: 100VW;
    height:50VH;
    left:0px;
}

#mapSection{
    width:100%;
    height:100%;
    margin-bottom: 15px;
}

#infoSection{
    margin-top: 50px;
    width:100%;
    height:100%;
    left:0px;
}