@media(max-width: 800px){

    .mapBox {
        display: block;
        width:100%;
        height:100%;
        left:0px;
    }
    .map {
        display:block;
        width: 100%;
        height:40%;
        left:0;
    }
    .mediaBox{
        padding-top:5%;
        align-items:center;
    }
    .media {
        align-items:center;
    }
    .mediaBox h2{
        text-align:center; 

    }
    .info h2{
        text-align:center;
    }
    
    .info{
        flex-direction:column;
        align-items:center;

    }

    .contactWrapper {
        flex-direction:column;
        align-items:center;
    }
}
.info ul li {
    padding-top: 10px;
    color: var(--text);
    list-style-type:none;
}

.info ul li b {
    color: black;
}

.contactWrapper {
    padding:50px;
    display:flex;
    height:100%;
    width:100%;
}

.info {
    height: 100%;
    width: 50%;

}

.mediaBox {
    height: 100%;
    width: 50%;
}

.media{
    display:flex;
    height: 100%;
    width:100%;
}
.media a {
    width:100%;
    height:100%;
}
.media a img {
    background-color: var(--gray);
    padding:5% 10%;
    margin: 5%;
    width:100%;
    height:100%;
    animation-name: mouseExit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.media a img:hover{
    animation-name: mousePass;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


.map {
    display: block;
    width: 100VW;
    height:50VH;
    left:0px;
}

#mapSection{
    width:100%;
    height:100%;
}

#infoSection{
    width:100%;
    height:100%;
}



@keyframes mouseExit {
    from{
        filter: blur(5px);
        background-color: var(--light_green)
    }
    to{
        filter: blur(0);
        background-color: white;
    }
}
@keyframes mousePass {
    from{
        filter: blur(0);
        background-color: white;
    }
    to{
        filter: blur(5px);
        background-color: var(--light_green)
    }
}


